.content-contact-page{
  width: 100%;
  background-color: #f7f1e3;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10%;
  padding-top: 6%;
  padding-right: 5%;
  height: 200%;
  transform-origin: top left;
  transition: 0.7s cubic-bezier(1, 0.005, 0.24, 1);
}

.map{
  width: 72%;
  height: 400px;
  background-color: grey;
}

.info{
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  padding: 0 20px 0 20px;
}

.info-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 3px solid #ffb8b8;
}

.contact-header{
  text:{
    align: center;
    transform: uppercase;
  }
}


@media only screen and (max-width: 800px) {
  .content-contact-page{
    height: 140%;
    padding-top: 20%;
    .reserve{
      position: absolute;
      top: 75px;
      left: 65px;
    }
    .reserve:after{
      display: none;
    }
  }

  .social-disappear{
    display: none;
  }
  .info-container{
    flex-direction: column;
    .map{
      width: 100%;
    }

  }
}